<header>
    <div class="texto">
        Postagens do Wagner
    </div>
    <nav class="nav-bar">
        <ul class="list-item">
            <a href="/"><li>Postagens</li></a>
            <a href="/cadastro"><li>Cadastrar Postagem</li></a>
        </ul>
    </nav>
</header>